:root{
  --color-1:#06406C;
  --color-2:#214e52;
  --color-3:red;
  --color-4:#338FD4;
  --color-5:#202022;
}

/*Header*/
.header{
  padding: 2rem;
}

.header h1{
  text-align: center;
  color: var(--color-2);
  font-size: 2.5rem;
}

/*Backgrond*/
.bg-color--01{
  background-color: var(--color-4);
  color: #fff;
}

.bg-color--02{
  background-color: var(--color-1);
  color: #fff;
}

.cod{
  background-color: var(--color-5);
  color: #fff;
  margin: 1rem 0 1rem 0;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

/*section*/
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 1rem;
}

/*text*/

.section > h2{
  font-size: 2rem;
  margin: 0 0 1rem 0;
  text-align: center;
}

.section > p{
  font-size: 1.3rem;
}

span{
  font-weight: 700;
  color: rgb(138, 26, 26);
}
